@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-children-margins {
    & > * {
      @apply !my-0;
    }
  }
}

.light {
  --bg: #fffcf2;
  --text: #252422;
  --text-secondary: #403d39;
  --primary: #eb5e28;
}

.dark {
  --bg: #252422;
  --text: #fffcf2;
  --text-secondary: #403d39;
  --primary: #eb5e28;
}
